page-login {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #2d2d2d;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #2d2d2d;
    }
  .img-center{
    margin-left: auto;
    margin-right: auto;
  }

  .img-rigth {
    margin-right: 40%;
  }
  .btnLogin *{
    font-size: 0.6em;
  }
}
